/* 主页面布局 */
#main-front {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #EFDAB5; /* 修改背景颜色 */
}

/* 新闻顶部图片 */
#news-top {
    /* 确保内容不会溢出 */
    overflow: hidden; 
    /* 调整这个值以设置与 #banner 的间隔 */
    margin-top: 40px; 
}

#news-top img {
    width: 100%;
    height: auto;
}

/* 新闻左侧布局 */
#news-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* 新闻图片 */
img[src="image/news.jpg"][alt=""] {
    grid-column: 1 ;
    width: 300px; 
    height: 450px;
}

#news-image {
    /* 调整这个值以设置与左侧的距离 */
    margin-left: 20px; 
}

/* 新闻标题 */
#news-titles {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

#news-titles a {
    /* 第一个字对齐 */
    text-align: left; 
    color: gray;
    text-decoration: none; 
    font-size: 18px; 
    /* 整体往右移动 */
    margin-left: 150px; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

/* 新闻右侧布局 */
#news-right {
    display: flex;
    flex-direction: column;
    /* 整体靠右 */
    align-items: flex-end;
    margin-right: 50px;
}

#news-right img {
    width: 300px; 
    /* 保持图片比例 */
    height: auto; 
    /* 确保图片之间没有间隔 */
    margin: 0; 
}

/* 医院公告 */
#news-notice {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

#news-notice a {
    color: gray;
    text-decoration: none;
    font-size: 18px; 
    /* 调整内容与上方图片的距离 */
    margin-top: 5px; 
    margin-bottom: 5px;
}

/* 新闻底部样式 */
#news-bottom {
    /* 确保内容不会溢出 */
    overflow: hidden; 
}

#news-bottom img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/* 导航内容的布局 */
#nav-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #D9C098;
    color: black;
}

#nav-content a {
    color: #683600;
    text-decoration: none;
    border: 2px solid  #683600; 
    padding: 5px; 
}

#nav-content a:hover {
    /* 鼠标悬停时字体变粗 */
    font-weight: bold; 
}

/* 导航底部样式 */
#nav-bottom {
    overflow: hidden; 
}

#nav-bottom img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}


#main-middle {
    background-color: #EFDAB5;
}

/* 教学内容头部样式 */
#teach-content-hd {
    display: flex;
    justify-content: space-between;
    background-color: #D0BB96;
    height: 50px; 
}

#teach-content-hd a {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #D0BB96;
    color: black; 
    font-size: 18px; 
    text-decoration: none;
}

#teach-content-hd a:hover {
    background-color: #921812;
}

/* 教学内容主体样式 */
#teach-content-bd {
    display: grid;
    /* 定义两列，1：1*/
    grid-template-columns: 1fr 1fr; 
    /* 设置列之间的间距 */
    gap: 10px; 
    background-color: #E8CA95; 
}

#teach-content-bd img {
    /* 第一列开始跨越到第二列，即占据第一列 */
    grid-column: 1 / 2; 
    width: 680px; 
    height: auto; 
}

#teach-content-bd .text-content {
     /* 文字内容占据第二列 */
    grid-column: 2 / 3;
}

/* 教学内容头部文字样式 */
#teach-content-hd-text a {
    display: block;
    margin-bottom: 5px;
    color: #8B4513;
    text-decoration: none;
    /* 让文字整体往右移动 */
    padding-left: 250px; 
    font-size: 20px;
}

#teach-content-hd-text a:hover {
    /* 字体加粗 */
    font-weight: bold; 
}



