/* 整个网页背景颜色 */
body {
    background-color: #EFDAB5;
}

#header {
    background-color: #E8CA95;
}

/* logo图片样式 */
img[src="image/logo.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* 调整图片大小 */
    width: 500px; 
}

/* line图片样式 */
img[src="image/line.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* 调整图片大小 */
    width: 1000px; 
}

/* 导航栏样式 */
#nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #d2b48c; /* 浅棕色 */
}

#nav > div {
    position: relative;
    flex: 1;
    text-align: center;
}

#nav > div > div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #d2b48c; 
    width: 100%;
}

#nav > div:hover {
    background-color: #8b4513; 
}

#nav > div:hover > div {
    display: flex;
}

#nav > div:hover > a {
    color: white;
}

#nav a {
    color: #8b4513; 
    text-decoration: none; 
    font-size: 20px; 
    position: relative;
    /* 设置层级 */
    z-index: 2; 
    /* 背景颜色跟随父元素 */
    background-color: inherit; 
}



/* banner样式 */
#banner {
    position: relative;
    width: 100%;
    height: 500px; /* 根据需要调整高度 */
    overflow: hidden;
}

#banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
}

#banner img.active {
    opacity: 1;
}



/* 链接样式 */
#link {
    text-align: center;
    background-color: #EED9B4; /* 背景颜色 */
    padding: 20px 0;
}

#link h2 {
    color: #8b4513; /* 深棕色 */
}

/* 详细链接样式 */
#ditail-link {
    display: flex;
    justify-content: space-around; /* 等距排列 */
    align-items: flex-start; /* 上下方向置顶 */
}

#ditail-link a {
    color: #8b4513; /* 深棕色 */
    text-decoration: none; /* 去除下划线 */
    font-size: 16px; /* 字体大小 */
}


#footer-box {
    display: grid;
    background-color: #D2B48C; 
}

#footer-text p {
    text-align: center; 
    color: #8B4513;
}


