/* 主容器样式 */
#main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
/* 搜索药品样式 */
#search-medicine {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}

#jump-nav {
    /* 把导航条放在本行最右侧 */
    margin-left: auto; 
}

#search-medicine input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 10px;
}

#search-medicine input[type="submit"] {
    padding: 10px 20px;
    background-color: #834B41;
    color: white;
    /* 取消边框黑线 */
    border: none;
    border-radius: 10px;
}

#search-medicine input[type="submit"]:hover {
    background-color: #DD9A4B;
}

/* 更多分类样式 */
#more-classify {
    display: grid;
    align-items: start;
    gap: 10px;
}

#more-classify>div:first-child {
    grid-column: 1;
    font-weight: bold;
    margin-top: 5px;
}
#more-classify>div:last-child {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



#more-classify a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;

}

#more-classify a:hover {
    background-color: #DD9A4A;
    /* 选中时背景色 */
    color: white;
    /* 选中时文字颜色为白色 */
}



/* 分类导航样式 */
#classify {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

#classify a {
    text-decoration: none;
    color: #834B41;
    padding: 5px 10px;
    flex: 1;
    text-align: center;
    background-color: #E8C7A4;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#classify a:hover,
#classify a:focus {
    background-color: #DD9A4B;
    color: white;
}



/* 药品列表样式 */
#medicine-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 一行放五个块 */
    gap: 20px;
}

.specific-medicine {
    display: grid;
    gap: 8px;
    background-color:#E8C7A4;
    padding: 10px;
    width: 200px; 
    height: 200px; 
}

.specific-medicine-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.specific-medicine:hover .specific-medicine-inner {
    transform: rotateY(180deg);
}

.specific-medicine-front, .specific-medicine-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 隐藏背面图片 */
    backface-visibility: hidden;
}

.specific-medicine-back {
    transform: rotateY(180deg);
    display: flex;
    background-color: #f8f8f8;
}

.specific-medicine-back img {
    width: 200px; 
    height: 200px; 
}

/* 三七药品样式 */
#sanqi a {
    width: 200px;
    height: 200px; 
}


.specific-medicine-front>span>a{
    color: #834B41;
    text-decoration: none;
    display: block; /* 换行 */
}

/* 当前时间样式 */
#current-time {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #834B41;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1000; /* 确保显示在最上层 */
}
